$font-primary: "Ubuntu", sans-serif;
$font-header: 'Baloo Bhai', cursive;
$header-color: #aaa3ff;

$second-main-color : #b56969;
$third-main-color: #e0fff7;

$footer-color: #af416b;
$button-color: #965858;

@mixin heading-1 {
    font-size: 6rem;
    line-height: 1;
    font-family: $font-header;
}

p {
    font-size: 2rem;
    font-family: $font-primary;
}

@mixin heading-2 {
    font-size: 4rem;
    font-family: $font-header;
}

@mixin button {
    width: 13rem;
    height: 5rem;
    font-size: 2rem;
    background-color: $button-color;
    border: none;
    border-radius: 2rem;
    color: $third-main-color;
    outline: none;
    &:hover {
        transform: translateY(-0.25rem);
      }
      &:active {
        outline: none;
        transform: translateY(0.25rem);
      }
}

